*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.padre{
    display: flex;
    height: 100vh;
    background-color: green;

}

.hijo{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: palevioletred;
    border: 1px solid black;

}