body {
    font-family: monospace;
    background-color: black;
}


.chat {
    border: 1px solid rgb(10, 78, 10);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/src/assets/img/wpfondo.jpg);  
}

.day {
    background-color: #182229;
    width: max-content;
    padding: 5px 12px 6px 12px;
    margin: auto;
    border-radius: 20px;
}

.day span {
    color: #8696a0;
}

.chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    background-color: #005C4B;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.received {
    display: flex;
    justify-content: flex-start;
    
}


.sent {
    display: flex;
    justify-content: flex-end;

}

.header {
    font-weight: bold;
}

.footer {
    font-size: x-small;
    color: rgb(41, 40, 40);
}

.footer span {      
    margin-left: 5px;
}

.blue {
    color: rgb(0, 0, 250);
}

.content {
    margin: 5px 0;
}