.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border-color: black;
    padding-top: 13px;
}


.logeo{
    background-color: rgb(231, 163, 203);
    border-width: 0.5px;
    border-radius: 10px;
    border-color: rgb(99, 38, 78);
}


.crear{
    background-color: rgb(231, 163, 203);
    border-width: 0.5px;
    border-radius: 10px;
    border-color: rgb(7, 7, 8);
}


.contenedor{
height: 50px;
background-color: rgb(138, 87, 107);
border-radius: 400px;
}
